$color-darker:         #1F1F1F;
$color-dark:           #333333;
$color-dark-2:         #313131;

$color-light:          #9a9a9a;
$color-lighter:        #F5F2F2;

$color-primary:        #D8422B;
$color-primary-dark:   #31221F;

$color-secondary:      #FFE100;
$color-secondary-dark: #4a4022;

$color-great: #4BC0C0;
$color-great-dark: #1E2F25;

$color-good: #5e75f8;
$color-good-dark: #212834;