* {
	margin: 0;
	padding: 0;
	border: 0;
    outline: none;
	font: inherit;
	font-size: 10px;
    text-decoration: none;
	vertical-align: baseline;
	line-height: 1;
	list-style: none;
	font-family: "Montserrat", sans-serif;
}